.searchUser {
    position: relative;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #da2222;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 4px 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}