@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #111827;
}

.home {
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: start;

}

.content {
    width: 100%;
}


.sidenav {
    height: 100vh;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}