@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: start;
}

.content {
    width: 100%;
}


.sidenav {
    height: 100vh;
}